utils/adi_movie.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">

  <xs:element name="ADI">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Metadata" type="MetadataType"/>
        <xs:element name="Asset" type="AssetType" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="MetadataType">
    <xs:sequence>
      <xs:element name="AMS" type="AMSType"/>
      <xs:element name="App_Data" type="AppDataType" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="AssetType">
    <xs:sequence>
      <xs:element name="Metadata" type="MetadataType"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="AMSType">
    <xs:attribute name="Asset_ID" type="xs:string" use="required"/>
    <xs:attribute name="Asset_Class" type="xs:string" use="required"/>
    <xs:attribute name="Asset_Name" type="xs:string"/>
    <xs:attribute name="Version_Major" type="xs:string"/>
    <xs:attribute name="Version_Minor" type="xs:string"/>
    <xs:attribute name="Description" type="xs:string"/>
    <xs:attribute name="Creation_Date" type="xs:dateTime"/>
  </xs:complexType>

  <xs:complexType name="AppDataType">
    <xs:attribute name="App" type="xs:string" use="required"/>
    <xs:attribute name="Name" type="xs:string" use="required"/>
    <xs:attribute name="Value" type="xs:string" use="required"/>
  </xs:complexType>

</xs:schema>

